.noteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /* flex-direction: column; */
    width: 26.5rem;
    margin: 1rem auto;
}

.noteTextArea {
    grid-area: 1/1/1/3;
    padding: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: rgb(40, 40, 40);
    font-size: 2rem;
    overflow: hidden;
    background-color: lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    resize: none;
}

.noteButton {
    font-size: 1rem;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.noteTaskifyButton {
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(40, 40, 40);
    background-color: rgb(43, 62, 61);
}

.noteDeleteButton {
    border-bottom-left-radius: 0;
    background-color: rgb(61, 50, 50);
    border-left: 1px solid rgb(40, 40, 40);
}