.mainHubHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 0.5rem;
}

.mainHubHeaderContainer>hr {
  width: 100%;
  border: 1px solid rgb(40, 40, 40);
  align-self: flex-end;
  margin-top: 0.5rem;
}

.mainHubHeaderContainer>h1 {
  width: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.mainHubHeaderContainer>button {
  z-index: 1;
  transition: 0.5s;
  margin: 0.2rem;
  width: 4.3rem;
  height: 4.3rem;
  font-size: 2.01rem;
  line-height: 2rem;
  /* padding-bottom: 2rem; */
  font-family: 'Courier New', Courier, monospace;
}

.mainHubHeaderContainer>button:hover {
  background-color: rgb(90, 90, 90);
}