.authenticationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.authenticationContainer > input {
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 500px;
}

.authenticationContainer > input {
  background-color: rgb(60, 60, 60);
  width: 20%;
  border: none;
  text-align: center;
}

.authenticationContainer > button {
  background-color: rgb(45, 45, 45);
}
